/*colors Variable*/
$black: #000000;
$black-l: #1b1b1b;
$white: #ffffff;
$orange: #FABE4C;
$orange-l: #FFE173;
$silver: #050504;
$silver-l: #FFF7EE;
$blue: #4AA3C7;
$blue-d: #243351;
$red: #EE5C4F;


/*google foonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
$popins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

/*media Variable*/
$mobile-xxsm: 350px;
$mobile-xsm: 400px;
$mobile-sm: 576px;
$mobile: 768px;
$tablet: 991px;
$notebook: 1366px;