/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";
/*vendor*/

/*block*/
/*preloader*/
@import "block/preloader.scss"; 
/*container*/
@import "block/container.scss"; 
/*absolute section*/
@import "block/absolute.scss"; 
/*main*/
@import "block/main.scss"; 
/*header*/
@import "block/header.scss"; 
/*home section*/
@import "block/home.scss"; 
/*buttons style*/
@import "block/btn.scss"; 
/*about us style*/
@import "block/about__us.scss"; 
/*stage style*/
@import "block/stage.scss"; 
/*works style*/
@import "block/works.scss"; 
/*faq style*/
@import "block/faq.scss"; 
/*contact style*/
@import "block/contact.scss"; 
/*burger style*/
@import "block/burger.scss"; 

/*vendor style*/
/*slick slider*/
@import "vendor/slick.scss";
/*animation style*/
@import "vendor/animate.scss";
/*main style*/
html{
  font-size: 16px;
}
body{
  font-family: sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: $black;
  margin: 0;
  padding: 0;
  background-color: $white;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  &:focus {
    outline: none;
  }
}
