/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

.contact{
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 90vh;
  background-color: $black-l;
  overflow: hidden;
  transition: top 0.5s linear;
}
.contact__row{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 87vh;
  padding-top: 4.6rem;
}
.contact__data{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h3{
    font-family: $popins;
    font-style: normal;
    font-weight: 600;
    font-size: 0.87rem;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 1.25rem;
  }
  a{
    text-decoration: none;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.12rem;
    line-height: 36px;
    color: $white;
    transition: color 0.1s linear;
    &:hover{
      color: $silver;
    }
  }
  span{
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 0.85rem;
    line-height: 36px;
    color: $white;
    margin-bottom: 5rem;
  }
}
.contact__form{
  width: 50%;
}
