/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

.main__page{
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}