/*variables*/
@import "./var.scss";
/*helpers class*/
@import "./help.scss";
/*mixins*/
@import "./mixin.scss";

.stage{
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 90vh;
  background-color: $blue;
  overflow: hidden;
  transition: top 0.5s linear;
}
.stage__title{
  margin-top: 3.7rem;
  h3{
    font-family: $popins;
    font-style: normal;
    font-weight: 600;
    font-size: 0.87rem;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 0.75rem;
  }
  h2{
    font-family: $popins;
    font-style: normal;
    font-weight: 600;
    font-size: 2.18rem;
    line-height: 50px;
    color: $white;
  }
}
.stage__content{
  width: 100%;
  height: 100%;
  position: relative;
}
.stage__line{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.stage__block{
  position: absolute;
  top: -10%;
  left: 10%;
  z-index: 3;
  width: 300px;
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  div{
    width: 80%;
    p{
      font-family: $popins;
      font-style: normal;
      font-weight: 600;
      font-size: 0.87rem;
      line-height: 21px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 0.5rem;
      &:last-child{
        margin-bottom: 0;
        letter-spacing: 0;
        font-weight: 300;
        text-transform: none;
        font-size: 1.12rem;
      }
    }
    h3{
      font-family: $popins;
      font-style: normal;
      font-weight: 600;
      font-size: 1.37rem;
      line-height: 25px;
      letter-spacing: -1px;
      color: $white;
      margin-bottom: 1rem;
    }
  }
  &--2{
    top: 0%;
    left: 30%;
    width: 370px;
  }
  &--3{
    top: 48%;
    left: 14%;
    width: 600px;
    div{
      width: 90%;
      margin-top: 8.5rem;
    }
  }
  &--4{
    top: 0%;
    left: 65%;
    width: 350px;
  }
  &--5{
    top: 45%;
    left: 80%;
    width: 350px;
  }
}
#number1{
  border: none;
  height: 100%;
  width: 20%;
}
#number2{
  border: none;
  height: 100%;
  width: 20%;
}
#number3{
  border: none;
  height: 100%;
  width: 10%;
}
#number4{
  border: none;
  height: 100%;
  width: 20%;
}
#number5{
  border: none;
  height: 100%;
  width: 20%;
}